

<!-- #blog -->
<section id="blog" class="blog section_padding single_page">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section_title">
                    <h2>blog post</h2>
                    <p class="sub_title">latest news</p>
                </div>
            </div>
        </div><!-- end .row -->
        <!-- row -->
        <div class="row" data-uk-grid>
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- single_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog1.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">The new brand identity</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- single_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog2.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">Make it clean and simple</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog3.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">A day alone at the office</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog4.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">My amazing office desk</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog5.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">A day alone at the office</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog6.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">The new brand identity</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog7.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">Credibly brand standards</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog8.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">Inspired by typography</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog9.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">Some amazing buildings</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog9.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">Some amazing buildings</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <figure>
                        <img src="~/images/blog1.jpg" alt="Blog Images">
                    </figure>
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">The new brand identity</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except...</p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
            <!-- col-md-4 -->
            <div class="col-md-4 col-sm-6 md-half-width">
                <!-- sigle_blog -->
                <article class="single_blog">
                    <div class="blog_content">
                        <a href="single_blog.html"><h4 class="blog_title">Credibly brand standards</h4></a>
                        <div class="date"><p>January 30, 2017</p></div>
                        <p>
                            Lorem ipsum dolor amet, consectetur they adipisicing elit. Inventore adipi except.
                            When you are alone for days or weeks at a time, you eventually become drawn to When
                            you are alone for days or weeks at a time, you eventually become drawn.
                        </p>
                        <ul class="meta_data">
                            <li class="auth"><img src="~/images/auth.jpg" alt="Author Avatar"> <p>By Aazztech</p></li>
                            <li class="tag"><span class="pe-7s-ticket"></span> <p>Design</p></li>
                        </ul>
                    </div>
                </article><!-- single_blog -->
            </div><!-- end .col-md-4 -->
        </div><!-- .row -->
    </div><!-- end container -->
</section>
<!-- end #blog -->